.sidebar {
    background: var(--grey-800);
    border-radius: 8px;
    overflow: hidden; /*Os elementos dentro do side bar ocupam somente seu container*/
}

.cover{
    width: 100%;
    height: 72px;
    object-fit: cover; /*Impede a imagem de distorcer*/
}