:root{
    --white: #fff;
    --grey-100: #e1e1e6;
    --grey-300: #c4c4cc;
    --grey-400: #8d8d99 ;
    --grey-600: #323238 ;
    --grey800: #28282e ;
    --grey-700: #202024;
    --grey-800: #121214;
    --green-500: #00875f ;
    --green-300: #07a271 ;
    --red-500: #F75A68
}

:focus{
    outline: transparent;
    box-shadow: 0 0 0  2px var(--green-500);
}
*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
body{
background: var(--grey800);
color: var(--grey-300);
}

body, input, button, textarea{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}